body {
  background: #EEEEEE;
  font-size: 20px;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 30rem;
}

h1, h2, span, .play-button, #vs {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  width: 9.8rem;
  margin-top: 1rem;
  margin-left: 1.25rem;
  text-shadow: 0.1795rem 0.1795rem 0.2995rem rgba(136, 160, 183, 0.25);
  background-color: #000000;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

h2 {
  font-size: 1rem;
  line-height: 1.172rem;
  color: #888888;
  margin: 0.95rem auto;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

span {
  font-size: 0.5rem;
  line-height: 0.6rem;
  vertical-align: text-bottom;
  margin-right: 1.45rem;
}

hr {
  margin: 0 1.45rem 0 1.45rem;
  height: 0.25rem;
  background-color: #EEEEEE;
  box-shadow: inset -0.0701rem -0.0701rem 0.0701rem rgba(255, 255, 255, 0.55), inset 0.0701rem 0.0701rem 0.0701rem rgba(136, 160, 183, 0.15);
  border-radius: 1.4015rem;
  border: none;
}

.play-options {
  display: flex;
  background: #EEEEEE;
  box-shadow: -0.2995rem -0.2995rem 0.8984rem rgba(255, 255, 255, 0.75), 0.2995rem 0.2995rem 0.8984rem rgba(136, 160, 183, 0.5);
  border-radius: 1.1979rem;
  margin: 0 1.45rem 0 1.6rem;
  justify-content: space-between;
  padding: 0.55rem 1.1rem 0.5rem;
} 

.play-options img {
  display: block;
  height: 2.25rem;
}

.play-options div {
  height: 3rem;
  width: 2rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0.35rem;
}

.play-options .selected {
  height: 3rem;
  width: 3rem;
  border-radius: 0.8984rem;
  background: #EEEEEE;
  box-shadow: inset -0.2995rem -0.2995rem 0.8984rem rgba(255, 255, 255, 0.50), inset 0.2995rem 0.2995rem 0.8984rem rgba(11, 35, 58, 0.15);
}

.play-button {
  width: calc(100% - 3rem);
  display: block;
  font-size: 2.4rem;
  line-height: 10.056rem;
  height: 10.056rem;
  text-align: center;
  background: #F0F0F3;
  box-shadow: -0.5rem -0.5rem 1.5rem #FFFFFF, 0.5rem 0.5rem 1.5rem rgba(174, 174, 192, 0.5);
  border-radius: 0.8rem;
  border: none;
  box-sizing: border-box;
  margin: 1.3rem 1.5rem;
  background-color: #000000;
  color: transparent;
  text-shadow: -0.2rem -0.2rem 0.45rem rgba(255, 255, 255, 0.4);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

#vs {
  font-size: 2.4rem;
  line-height: 2.8rem;
  vertical-align: top;
  text-align: center;
  margin-top: 1rem;
  background-color: #88888F;
  color: transparent;
  text-shadow: 0.2rem 0.2rem 0.35rem rgba(255, 255, 255, 1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

    
