body {
  background: #EEEEEE;
  font-size: 1.25rem;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 480px;
}

h1, h2, span, .bottom-box, #vs {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
  font-size: 48px;
  line-height: 52px;
  width: 196px;
  margin-top: 20px;
  margin-left: 25px;
  text-shadow: 3.5904px 3.5904px 5.9904px rgba(136, 160, 183, 0.25);
  background-color: #000000;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

h2 {
  font-size: 20px;
  line-height: 18.752px;
  color: #888888;
  margin: 15.2px auto;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

span {
  font-size: 0.625rem;
  line-height: 9.6px;
  vertical-align: text-bottom;
  margin-right: 23.2px;
}

hr {
  margin: 0 23.2px 0 23.2px;
  height: 5px;
  background-color: #EEEEEE;
  box-shadow: inset -1.1216px -1.1216px 1.1216px rgba(255, 255, 255, 0.55), inset 1.1216px 1.1216px 1.1216px rgba(136, 160, 183, 0.15);
  border-radius: 22.424px;
  border: none;
}

.play-options {
  display: flex;
  background: #EEEEEE;
  box-shadow: -4.792px -4.792px 14.3744px rgba(255, 255, 255, 0.75), 4.792px 4.792px 14.3744px rgba(136, 160, 183, 0.5);
  border-radius: 19.1664px;
  margin: 1.625rem 1.875rem;
  justify-content: space-between;
  padding: 0.625rem 1.125rem 0.625rem 1.125rem;
} 

.play-options button {
  height: 3.75rem;
  width: 3.75rem;
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding: 0.4375rem 0.6875rem 0.5rem 0.6875rem;
  border-radius: 14.3744px;
  border: none;
  background: #EEEEEE;
  color: #dcdcdc;
  font-size: 20px;
}

.play-options .selected {
  border-radius: 14.3744px;
  background: #EEEEEE;
  box-shadow: inset -4.792px -4.792px 14.3744px rgba(255, 255, 255, 0.50), inset 4.792px 4.792px 14.3744px rgba(11, 35, 58, 0.15);
  color:#000000;
  transition: transform 1ms;
}

.play-options button:hover,
.play-options button:focus {
  background: #EEEEEE;
  box-shadow: inset -4.792px -4.792px 14.3744px rgba(255, 255, 255, 0.50), inset 4.792px 4.792px 14.3744px rgba(11, 35, 58, 0.15);
  transition: transform 1ms;
}

.bottom-box {
  width: calc(100% - 3.75rem);
  font-size: 3rem;
  height: 12.57rem;
  text-align: center;
  box-shadow: -0.625rem -0.625rem 1.875rem #FFFFFF, 0.625rem 0.625rem 1.875rem rgba(174, 174, 192, 0.5);
  border-radius: 1rem;
  border: none;
  box-sizing: border-box;
  margin: 1.625rem 1.875rem;
  background-color: #000000;
  color: transparent;
  text-shadow: -0.25rem -0.25rem 0.5625rem rgba(255, 255, 255, 0.4);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  transition: transform 1ms;
  transform: translateX(0) scale(1);
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  align-items: center;
}

.bottom-box:active {
  background: #EEEEEE;
  box-shadow: inset -4.792px -4.792px 14.3744px rgba(255, 255, 255, 0.50), inset 4.792px 4.792px 14.3744px rgba(11, 35, 58, 0.15);
  color:#000000;
  /* transition: transform 1ms;
  transform: translateX(10px) scale(1); */
}

#play-transition {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  align-items: center;
  line-height: 12.5rem;
  padding: 0 40px;
  background-color: #C4C4C4;
  text-shadow: none;
  z-index: -50;
}

.carousel {
  overflow: hidden;
  height: 100%;
}

.carousel ul {
  list-style: none;
  animation: scroll-up 0.8s linear infinite;
  color: #C4C4C4;
}

@keyframes scroll-up {
  100% {
    transform: translateY(-76%);
  }
}

@-webkit-keyframes scroll-up {
  100% {
    transform: translateY(-76%);
  }
}

.bottom-box .verticalLine {
  height: 180px;
  margin: 0 23.2px 0 23.2px;
  width: 5px;
  background-color: #EEEEEE;
  box-shadow: inset -1.1216px -1.1216px 1.1216px rgba(255, 255, 255, 0.55), inset 1.1216px 1.1216px 1.1216px rgba(136, 160, 183, 0.15);
  border-radius: 22.424px;
  border: none;
}

.bottom-box-background {
  background: #F0F0F3;
  position: absolute;
  top: 0;
  width: 100%;
}

.hidden {
  display: none !important;
}

.play-boxes {
  position: relative;
}


#vs {
  font-size: 48px;
  font-style: bold;
  line-height: 44.8px;
  vertical-align: top;
  text-align: center;
  margin-top: 16px;
  background-color: #88888F;
  color: transparent;
  text-shadow: 3.2px 3.2px 5.6px rgba(255, 255, 255, 0.80);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

#winner-announcement {
  flex-direction: column;
}

.win {
  color: #54BA70;
}

.draw {
  color: #D5D922;
}
