body {
  background: #eeeeee;
  font-size: 1.25rem;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 30rem;
}

h1,
h2,
h3,
span,
.bottom-box,
.match button,
.ranking-players,
.ranking-button,
#vs,
#final-announcement {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  line-height: 3.25rem;
  width: 12.25rem;
  margin-top: 1.25rem;
  margin-left: 1.5625rem;
  text-shadow: 0.2244rem 0.2244rem 0.3744rem rgba(136, 160, 183, 0.25);
  background-color: #000000;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.172rem;
  color: #888888;
  margin: 4.1875rem auto auto;
  text-align: center;
}

h2.small-margin, 
h2.ranking, 
h2.play-mode, 
h2.name 
{ 
  margin-top: 1rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.172rem;
  color: #888888;
  margin: 0.95rem auto 3.75rem;
  text-align: center;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header span {
  font-size: 0.625rem;
  line-height: 0.6rem;
  vertical-align: text-bottom;
  margin-right: 1.45rem;
}

hr {
  margin: 0 1.45rem 0 1.45rem;
  height: 0.3125rem;
  background-color: #eeeeee;
  box-shadow: inset -0.0701rem -0.0701rem 0.0701rem rgba(255, 255, 255, 0.55),
    inset 0.0701rem 0.0701rem 0.0701rem rgba(136, 160, 183, 0.15);
  border-radius: 1.4015rem;
  border: none;
}




